.container {
  border-radius: 15px;
  background-color: #e5e5e5;
  width: 410px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result {
  width: 365px;
  height: 55px;
  border-radius: 20px;
  background-color: #30c386;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.imgContainer {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iceimg {
  width: 100%;
}

.icepage {
  display: flex;
  width: 410px;
  flex-direction: column;
  align-items: center;
}
